// text colors
.c-black { color: var(--black); }
.c-blue { color: var(--blue); }
.c-gray-medium { color: var(--gray-medium); }
.c-gray-light { color: var(--gray-light); }
.c-cyan { color: var(--cyan); }

// background colors
.bg-cyan { background: var(--cyan); }
.bg-blue { background: var(--blue); }
.bg-white { background: white; }

// variables
:root {
  --black: #3c4858;
  --blue: #273444;
  --cyan: #2dc8f7;
  --gray-medium: #8492a6;
  --gray-light: #e0e6ed;
}
