input {
  border: none;
  box-shadow: none;
}

// placeholder
::-webkit-input-placeholder {
  color: var(--gray-light) !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--gray-light) !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--gray-light) !important;
}

:-ms-input-placeholder {  
  color: var(--gray-light) !important;
}
