h2 style="line-height: 1.1em; margin-top: 0;"
  | A startup #{@startup.name} foi aprovada e será publicada em breve!
p style="line-height: 1.4em;"
  | Parabéns, a sua startup <strong> #{@startup.name}</strong> foi aprovada na LISTABETA! </strong>Em breve ela será publicada</strong> em nosso site e na nossa newsletter. Mas não se preocupe, iremos te avisar quando isso acontecer.
