ul.ui-autocomplete {
  border-radius: 3px;
  background-color: white;
  max-width: 400px !important;
  padding: 15px 0px;
  border: 1px solid var(--gray-light);
  box-shadow: 0 1px 2px 0 rgba(31,45,61,.15);

  li.ui-menu-item {
    list-style: none;
    padding: 10px 15px;

    &.ui-state-focus{
      font-weight: 700;
      background-color: var(--gray-lighter)
    }
  }
}
