footer {
  bottom: -218px;
  height: 218px;
  left: 0;
  position: absolute;
  right: 0;

  a:hover,
  a:focus {
    text-decoration: none;
  }

  a.link-love {
    &:hover,
    &:focus {
      color: var(--gray-medium);

      span {
        color: #e53d7b;
        transition: all .3s;
      }
    }
  }
}

@media (max-width: 420px) {
  footer {
    bottom: -260px;
    height: 260px;
  }
}
