footer {
  a:hover,
  a:focus {
    text-decoration: none;
  }

  a.link-love {
    &:hover,
    &:focus {
      color: var(--gray-medium);

      span {
        color: #e53d7b;
        transition: all .3s;
      }
    }
  }
}
