.newsletter-inner {
  display: table;
  width: 100%;
}

.newsletter-text,
.newsletter-form {
  display: table-cell;
  vertical-align: middle;
}

.newsletter-text {
  width: 60%;
}

.newsletter-form {
  width: 40%;
  padding-left: 20px;

  input,
  .btn {
    height: 48px;
  }
}
