.startup-image-wrapper {
  height: 100%;
  max-width: 888px;
  max-height: 666px;
  padding-bottom: 70.265%;
  border: 1px solid var(--gray-lighter);
}

.startup-image{
  height: 100%;
  max-width: 888px;
  max-height: 666px;
  background-position: center top;
  background-color: var(--gray-lighter)
}
