ul.ui-autocomplete {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  width: 300px !important;
  padding-left: 10px;

  li.ui-menu-item {
    list-style: none;

    &.ui-state-focus{
      font-weight: 800;
    }
  }
}
