p
  | Olá #{@resource.email}!
p Foi solicitada a recuperação da sua senha na LISTABETA. Você pode fazer isto através do link abaixo:
p = link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @token)
p Se você não requisitou isto, por favor, ignore este email.
p Sua senha não será trocada até você acessar o link acima e criar uma nova.
